<app-navbar></app-navbar>
<body>
<div class="container">

  <h1>Welcome to Tomcii's Digital Art Gallery!</h1>

  <p>Tomcii's digital art gallery is a sanctuary of creativity, featuring fantastical landscapes, captivating game art, and heartfelt fanart.</p>

  <p>Every stroke tells a story. Immerse yourself in the vibrant hues and intricate details crafted by Tomcii's skilled hands.</p>

  <p>Connect with the artist, share your thoughts, and join a community!</p>

  <p>Enjoy the visual feast, and may these digital wonders spark your own imaginative spirit!</p>

</div>
</body>
